
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkblue;
}
.top-container{display: flex; height: 30vh;

}
.top-left{background-color: red; padding: 50px

}
.top-right{
background-color: yellow; padding: 50px
}
.bottom-container{
    display: flex;
}
.bottom-container .bottom-left{
    background-color:green; padding: 30px; height: 40vh
}
.bottom-container .bottom-right{
    display: inline;
}
.bottom-container .bottom-right .bottom-righttop{
    background-color: skyblue; padding: 40px;
}
.bottom-container .bottom-right .bottom-rightdown{
    background-color: skyblue; padding: 40px;
}