*{
    background-color: gainsboro
}
.navtop{
    background-color:grey;overflow: hidden; margin-left: 900px;
}
.navtop a{
    float: left;
    color: greenyellow;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}
.navtop a:hover{
    background-color: hotpink;
    color: khaki;
}
.navtop a.active{
    background-color: lightcoral;
    color: white
}